.swiper-mobile-container{
  margin: 4px auto;
}
.swiper-title{
  color: white !important;
  text-align: right;
  font-family: 'anardoni';
  border-bottom: 1px solid #444;
  margin: 5px  10px;
  padding: 7px 0 7px 7px;
  font-size: 1.7rem;
}
.user-icon{
  position: absolute;
  top: 2.5%;
  left: 12.5px;
  color: white;
}