@import "./styles/variables";
.card-without-container-container{
  cursor: pointer;
  padding: 10px;
  border-radius: 1.2em;
  overflow: hidden;
  width: fit-content;
  .card-without-container-image{
    img{
      border-radius:22%;
    }
    width: 120px;
    height: 120px;
    margin-right: 10px;
  }
  .card-without-container-detail{
    h4{
      font-weight: 500;
    }
    p{
      font-size: 12px;
      margin: -15px 0 0 0;
      color: $card-subtitle ;
    }
    font-size: 13px;
    margin-right: 5px;
    font-weight: normal;
  }
}