@import '../../../styles/variables';
.login-container {
  box-shadow: 0 0 20px #0b0b0b;
  padding: 30px 30px 10px 30px;
  margin: 80px auto;
  background-color: $background;
  border-radius: 10px;
  max-width: 380px;
  position: relative;
  font-family: anardoni;
  .owl-pic {
    img {
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
    }
    .right-hand, .left-hand {
      border-radius: 40px;
      background-color: $owl-hands;
      width: 34px;
      height: 24px;
      top: -10px;
      position: absolute;
    }
    .right-hand {
      right: 95px;
    }
    .left-hand {
      left: 100px;
    }
  }
  .title {
    color: white;
    margin: 30px auto;
    display: table;
    font-size: 15px;
  }
  .input-container {
    margin-top: 50px;
    .input {
      color: white;
      &:focus {
        transition: border .1s linear;
        border: 1px solid $submit;
      }
      border: $main-border;
      &::placeholder {
        font-family: anardoni;
        font-size: 15px;
      }
    }
    input, .submit-btn {
      outline: none;
      padding: .55rem .75rem;
      background-color: transparent;
      border-radius: 8px;
      border-width: 2px !important;
      width: 100%;
      margin-bottom: 10px;
    }
    .submit-btn {
      cursor: pointer;
      background-color: $submit;
      border: none;
      font-size: 15px;
      display: block;
      font-family: anardoni;
      color: white;
      &:disabled{
        opacity: .65;
        cursor: default;
      }
    }
  }
  .forgot-password {
    color: $card-subtitle;
    border-bottom: 1px dotted $card-subtitle;
    display: table;
    margin: 30px auto;
    font-size: 12px;
  }
  .sign-up , .forgot-password{
    cursor: pointer;
  }
  .sign-up{
    margin-right: 110px;
    font-size: 13px;
    color: $signUp;
    padding-left: 20px;
    float: right;
    position: relative;
    border-bottom: 1px dotted $signUp;
    svg{
      transform: rotate(180deg);
      position: absolute;
      top: -2px;
      right: 82px;
    }
  }
}
.progress{
  background: $card-subtitle;
}
.toast {
  font-size: 13px;
  font-family: anardoni;
  background-color: $color-text;
  color: white;
  direction: rtl;
}

