.swipperContainer{
  background-color: #222222;
  width: 97%;
  margin: 7px auto;
  overflow: hidden;
  a{
    text-decoration: none;
  }
  .line{
    margin-bottom: 15px;
  }
}
.secondSwipperContainer{
  background-color: #222222;
  box-shadow: 0 0 20px #0b0b0b;
  height: fit-content;
  border-radius: 12px;
  padding: 25px;
  width: 60%;
  margin: 0 auto 0 auto;
  .swipperTitle{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    .rightTitle{
      white-space: nowrap;
      color: white;
      margin-left: 20px;
      padding: 10px 5px;
      font-weight: bolder;
      display: inline-block;
      border-bottom: 1px solid red;
    }
    .leftTitle{
      direction: ltr;
      color: #007bff;
      padding: 10px 5px;
      display: inline-block;
      width: 90%;
      border-bottom: 1px solid white;
    }
  }
}
.screenshotContainer{
  margin-top: 10px;
  padding-bottom: 15px;
  direction: rtl;
  .screenshot{
    border-radius: 6px;
    margin: 0;
  }
}