.mobile-card-container{
  color: white;
  font-family: anardoni;
  width: 91%;
  margin: 0 auto;
  .titles-container{
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    .titles{
      direction: rtl;
      margin: 0 6px;
      width: 66.5%;
      .title{
        font-size: 13.5px;
      }
      .subtitle{
        color: #6c757d;
        font-size: 12px;
        padding: 3px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 155px;
      }
    }
    .get-button{
      height: 26px;
      margin: 10px 5px;
      color: #007bff;
      background-color: #444;
      border-radius: 20px;
      width: fit-content;
      padding: 2px 13px;
    }
  }
  .main-image{
    border-radius: 5px;
    width: 100%;
    height: 200px;
  }
}