@import './styles/variables';
.mobile-card-container {
  color: white;
  font-family: $font;
  width: 91%;
  margin: 0 auto;
  .titles-container {
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    .titles {
      direction: rtl;
      margin: 0 6px;
      width: 66.5%;
      .title {
        font-size: 13.5px;
      }
      .subtitle {
        color: $card-subtitle;
        font-size: 12px;
        padding: 3px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 155px;
      }
    }
    .get-button {
      height: 26px;
      margin: 10px 5px;
      color: $card-get-button;
      background-color: $card-get-button-background;
      border-radius: 20px;
      width: fit-content;
      padding: 2px 13px;
    }
  }
  .main-image {
    border-radius: 5px;
    width: 100%;
    height: 200px;
  }
}