.mobile-card-container{
  color: white;
  font-family: anardoni;
  width: 95%;
  margin: 0 auto;
  .titles-container{
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    .titles{
      width: 72%;
      .title{
        font-size: 13.5px;
      }
      .subtitle{
        color: #6c757d;
        font-size: 12px;
        height: 25px;
        overflow: hidden;
      }
    }
    .get-button{
      height: 26px;
      margin: 10px 0;
      color: #375a7f;
      background-color: #6c757d;
      border-radius: 20px;
      width: fit-content;
      padding: 2px 13px;
    }
  }
  .main-image{
    border-radius: 5px;
    width: 100%;
    height: 200px;
  }
}