@font-face {
  font-family: "anardoni";
  src: url("../../../fonts/iranyekan/eot/iranyekanwebregularfanum.eot") format("eot"),
  url("../../../fonts/iranyekan/woff/iranyekanwebregularfanum.woff") format("woff"),
  url("../../../fonts/iranyekan/ttf/iranyekanwebregularfanum.ttf") format("truetype");
}
@import './styles/variables';
.log-in-container{
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 7px;
  left: 20.7%;
  .black-circle{
    z-index: 2;
    top: 12px;
    right:88px;
    width: 13px;
    height: 13px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
  }
}
.navigation-container{
  border-bottom: $main-border;
  font-family: $font;
  background-color: $background;
  z-index: 4;
  position: relative;
  display: grid;
  height: 53px;
  padding: 0 21% 0 20.6%;
  li{
    list-style-type: none;
  }
  div{
    .right-btn{
      svg{
        right: 12px;
      }
      letter-spacing: -1.5px;
      padding: 8px 40px 8px 12px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .left-btn{
      svg{
        left: 12px;
      }
      padding: 8px 12px 8px 39px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    button{
      font-family: $font;
      position: relative;
      cursor: pointer;
      outline: none;
      margin-left:2px;
      background-color: $color-text;
      border-radius: .25rem;
      border: none;
      color: white;
      font-size: 16px;
      svg{
        top: 10px;
        position: absolute;
        font-size: 18px;
      }
    }
  }
  .selected{
    opacity: 1 !important;
    border-bottom: 3px solid $color-text !important;
    color: $color-text !important;
  }
  .item-container{
    margin: 0;
    color: #888888;
    display: inline-block;
    //span{
    //  input{
    //    display: none;
    //    &:checked{
    //      & + label{
    //        button{
    //          @extend .selected;
    //        }
    //      }
    //    }
    //  }
    //}
    .item{
      &:hover{
        @extend .selected;
      }
      opacity: .8;
      transition: .2s border-bottom-color;
      cursor: pointer;
      border-bottom: 3px solid transparent;
      list-style-type: none;
      float: right;
      padding: 12px 11px 10px 11px;
      font-size: 15.5px;
      color: $navigation-item;
      svg{
        font-size: 27px;
        margin-left: 5px;
      }
    }
    div{
      width: 100%;
    }
    button{
      border: none;
      outline: none;
      background: none;
      font-family: $font;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  //a{
  //  &:target{
  //    color: red;
  //  }
  //}
}
