@font-face {
  font-family: "anardoni";
  src: url("../../../fonts/iranyekan/eot/iranyekanwebregularfanum.eot") format("eot"),
  url("../../../fonts/iranyekan/woff/iranyekanwebregularfanum.woff") format("woff"),
  url("../../../fonts/iranyekan/ttf/iranyekanwebregularfanum.ttf") format("truetype");
}
@media screen and (max-width: 425px) {
  .logInContainer{
    .blackCircle{
      display: none;
    }
    display: none;
  }
  .itemContainer{
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}
.logInContainer{
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 6px;
  .blackCircle{
    z-index: 2;
    top: 12px;
    right:90px;
    width: 13px;
    height: 13px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
  }
}
.navigationContainer{
  border-bottom: 1px solid #444;
  font-family: anardoni;
  background-color: #222222;
  display: grid;
  height: 50px;
  padding: 0 21.5% 0 20.6%;
  div{
    .rightBtn{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .leftBtn{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    button{
      font-family: anardoni;
      padding: 6px 10px;
      position: relative;
      cursor: pointer;
      margin-left:3px;
      background-color: #375A7F;
      border-radius: .25rem;
      border: none;
      color: white;
      font-size: 16px;
      svg{
        font-size: 18px;
      }
    }
  }
  .selected{
    opacity: 1;
    border-bottom: 3px solid #375a7f;
    color: #375a7f !important;
  }
  .itemContainer{
    margin: 0;
    color: #888888;
    display: inline-block;
    .item{
      &:hover{
        opacity: 1;
        border-bottom: 3px solid #375a7f;
      }
      letter-spacing: -1.5px;
      opacity: .8;
      transition: .3s all;
      cursor: pointer;
      list-style-type: none;
      float: right;
      padding: 12px 12px 10px 12px;
      font-size: 17px;
      color: #888;
      svg{
        font-size: 27px;
        margin-left: 5px;
      }
    }
    div{
      width: 100%;
    }
    li{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}