@import '../../../styles/variables';
.register-container{
  box-shadow: 0 0 20px #0b0b0b;
  padding: 30px 30px 10px 30px;
  font-family: anardoni;
  margin: 80px auto;
  direction: rtl;
  background-color: $background;
  border-radius: 10px;
  max-width: 500px;
  .input-container {
    margin-top: 50px;
    .input {
      text-align: right;
      color: white;
      &:nth-child(1){
        margin-left: 4px;
      }
      &:nth-child(2){
        margin-right: 4px;
      }
      &:nth-child(1) , &:nth-child(2){
        display: inline-block;
        width: 49%;
        @media screen and (max-width: 600px){
          width: 47%;
        }
      }
      &:focus {
        transition: border .1s linear;
        border: 1px solid $submit;
      }
      border: $main-border;
      &::placeholder {
        font-family: anardoni;
        font-size: 15px;
      }
    }
    input, .submit-btn {
      outline: none;
      padding: .55rem .75rem;
      background-color: transparent;
      border-radius: 8px;
      border-width: 2px !important;
      width: 100%;
      @media screen and (max-width : 600px){
        width: 97%;
      }
      margin-bottom: 10px;
    }
    .submit-btn {
      cursor: pointer;
      background-color: $submit;
      border: none;
      font-size: 15px;
      display: block;
      font-family: anardoni;
      color: white;
    }
  }
  .rules {
    color: $card-subtitle;
    border-bottom: 1px dotted $card-subtitle;
    display: table;
    margin: 30px auto;
    font-size: 12px;
    @media screen and (max-width: 600px){
      font-size: 9.5px;
    }
  }
  .login , .rules{
    cursor: pointer;
  }
  .login{
    margin-right: 160px;
    @media screen and (max-width: 600px){
      margin-right: 95px;
    }
    font-size: 13px;
    position: relative;
    color: $signUp;
    padding-left: 20px;
    float: right;
    border-bottom: 1px dotted $signUp;
    svg{
      transform: rotate(180deg);
      position: absolute;
      right: 135px;
      top: -3px;
    }
  }
}