@import './styles/variables';
.navigation-mobile-container{
  z-index: 10;
  border-top: $main-border;
  background-color: $background;
  font-family: $font;
  position: fixed;
  width: 100%;
  bottom: 0;
  .item-mobile-container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    color: #888888;
    .item{
      svg{
        margin: 0 auto;
      }
      font-size: 12px;
      padding:3px  19px;
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .selected{
    border-top: 3px solid $color-text;
    color: $color-text !important;
  }
}