@import './styles/variables';
.preview{
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -1px;
  font-family: $font;
  color: white;
  width: 58%;
  padding-bottom: 18.5px;
  margin: 10px auto;
  .preview-title{
    margin-left: 95.5%;
  }
}
.about-container{
  direction: rtl;
  .about{
    .info-title{
      color: $card-subtitle;
      width: 100px;
      margin-left: 20px;
      text-align: left;
    }
    .info-items{
      width: 50%;
      white-space: nowrap;
      text-align: right;
    }
    margin: 5px;
    width: 240px;
    font-weight: 200;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
  }
  margin-right: 65px;
  display: flex;
  flex-direction: column;
}