.link-container{
  width: 58%;
  margin: 5px auto;
  border-bottom:1px solid #444;
  font-family: anardoni;
  color: white;
  text-align: right;
  .link-title{
    font-size: 15px;
    margin: 10px 0;
    letter-spacing: -.7px;
  }
  .link{
    border-radius: 12px;
    color: #0c5460;
    background-color: #d1ecf1;
    font-weight: bold;
    padding: 1.25rem 1.25rem;
    margin: 18px -2px 30px 68.3%;
    span{
      padding: 0 210px 0 0;

        svg{
          font-size: 22px;
          position: absolute;
        }
    }
  }
}