@import './styles/variables';
.preview{
  width: 58%;
  border-bottom: $main-border;
  color: white;
  text-align: right;
  margin: 11px auto;
  padding-bottom: 5px;
  .preview-title{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -1px;
    font-family: $font;
  }
}