.whats-new-container{
  @media screen and (max-width: 425px) {
    .right-text{
      margin-bottom: 10px;
      font-size: 15px;
    }
    .about-items{
      width: 145%;
      white-space: pre-wrap;
      font-size: 10px;
    }
    font-size: 13px;
  }
  .preview-title{
    font-weight: bolder;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 15.5px;
  }
  .right-text{
    color: #6c757d;
  }
  .about-items{
    direction: rtl;
    list-style-type: none;
    padding-bottom: 15px;
    font-size: .95em;
    display: block;
  }
  .versions{
    width: 50%;
    text-align: left;
    .version{
      color: #6c757d;
      font-size: .9em;
    }
    .colored-text{
      white-space: nowrap;
      color: #375a7f;
      cursor: pointer;
      margin-bottom: 18px;
      font-size: .84em;
    }
  }
  .new-items{
    width: 50%;
    text-align: right;
  }
  font-family: anardoni;
  border-bottom: 1px solid #444;
  color: white;
  margin: 25px auto 15px auto;
  width: 58%;
  display: flex;
  padding-bottom: 4px;
  flex-direction: row-reverse;
}
.last-update-container{
  font-size: 10px;
}