.second-swipper-mobile-container{
  font-family: anardoni;
  border-top: 1px solid #444;
  padding: 10px 0px;
  margin: 15px;
  .swipper-mobile-title{
    display: flex;

    flex-direction: row-reverse;
    .right-mobile-title{
      font-weight: bold;
      text-align: right;
      width: 50%;
      font-size: 17px;
      color: white;
    }
    .left-mobile-title{
      font-size: 14px;
      color: #007bff;
      width: 50%;
      text-align: left;
    }
  }
  .smallcards-mobile-container{
    margin: 12px 0px;
    overflow: hidden;
  }
}