@import './styles/variables';
.second-swipper-mobile-container{
  font-family: $font;
  border-top: $main-border;
  padding: 10px 0px;
  margin: 15px;
  .swipper-mobile-title{
    display: flex;
    flex-direction: row-reverse;
    .right-mobile-title{
      font-weight: bold;
      text-align: right;
      width: 50%;
      font-size: 17px;
      color: white;
    }
    .left-mobile-title{
      font-size: 14px;
      color: $card-info-colored;
      width: 50%;
      text-align: left;
    }
  }
  .smallcards-mobile-container{
    margin: 12px 0px;
    overflow: hidden;
  }
}