.swiper-title{
  color: white !important;
  text-align: right;
  font-family: 'anardoni';
  border-bottom: 1px solid #444;
  margin: 5px  20px;
  padding: 7px 0 7px 7px;
  font-size: 1.7rem;
}
.user-icon{
  position: absolute;
  top: 4%;
  left: 22px;
  color: white;
}
.header{
  display: flex;
}