@import "styles/variables";
.card-detail-container{
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  .card-detail-text{
    font-family: $font;
    text-align: right;
    margin-top: 4px;
    margin-right: 2px;
    h4{
      font-weight: normal;
      margin: 0;
      font-size: 1.1rem;
      padding: 1px;
      color: white;
    }
    p{
      font-size: .85em;
      margin: 0;
      color: $card-subtitle;
    }
  }
  .card-detail-image{
    margin-left: 15px;
    img{
      width: 92px;
      height: 92px;
      border-radius: 22.5%;
    }
  }
}