@import './styles/variables';
.mobile-card-info{
  color: white;
  display: flex;
  flex-direction: row-reverse;
  margin: 15px 20px;
  font-family: $font;
  .mobile-card-info-pic{
    img{
      width: 110px;
      height: 110px;
      border-radius: 22.5%;
    }
  }
  .mobile-card-info-name{
    direction: rtl;
    margin: 5px 25px;
    h2,h4{
      margin: 0;
    }
    h2{
      font-size: 16px;
    }
    h4{
      color: $card-subtitle;
      font-size: 13px;
      font-weight: 200;
      margin: 4px 0;
    }
    .mobile-get-button{
        margin: 14% 0px;
        font-size: 14px;
        font-weight: 200;
        color: white;
        background-color: $color-text;
        border-radius: 20px;
        width: fit-content;
        padding: 5px 18px;
    }
  }
}
.feedback-container{
  font-family: $font;
  color: $card-subtitle;
  display: flex;
  flex-direction: row-reverse;
  margin: 15px;
  direction: rtl;
  .rate{
    div{
      font-size: 20px;
      &:nth-child(2){
        font-size: 13px;
      }
    }
    width: 50%;
    text-align: left;
  }
  .feedback{
    div{
      font-size: 20px;
      &:nth-child(2){
        font-size: 13px;
      }
    }
    width: 50%;
    text-align: right;
  }
}