@import './styles/variables';
.preview{
  font-family: $font;
  text-align: right;
  color: white;
  margin: 15px;
  .about-items-container{
    .item-container{
      margin: 5px;
      overflow: hidden;
      li{
        list-style-type: none;
      }
    }
    #more-mask{
      padding: 10px;
      color: gray;
      width: 100%;
      height: 10px;
      overflow: hidden;
      .about-items{
        padding-bottom: 15px;
        display: block;
        list-style-type: none;
      }
    }
    .button-container{
      .toggle-btn{
        color: $color-text;
        background-color: transparent;
        cursor: pointer;
        border: none;
        font-family: $font;
        font-size: .9rem;
        :focus {
          outline: none !important;
        }
      }
      text-align: left;
      width: 100%;
    }
    .description-items{
      line-height: 26px;
      display: block;
      font-size: 15px;
      list-style-type: none;
    }
    margin-bottom: 5px;
    direction: rtl;
  }
  .preview-title{
    display: inline-block;
    font-size: 15.5px;
    font-weight: bold;
    padding-bottom: 10px;
  }
}
.ad{
  padding: 0 0 15px 0;
  border-bottom: $main-border;
  width: 90%;
  margin: 0 15px;
}