@import './styles/variables';
.link-container{
  width: 90%;
  margin: 5px auto;
  padding-bottom: 25px;
  font-family: $font;
  border-bottom: $main-border;
  color: white;
  text-align: right;
  .link-title{
    font-size: 15px;
    letter-spacing: -.7px;
  }
  .link{
    cursor: pointer;
    border-radius: 12px;
    color: $detail-caption;
    background-color: $detail-caption-background;
    font-weight: bold;
    padding: 1.25rem 1.25rem;
    white-space: nowrap;
    span{
      svg{
        font-size: 20px;
        left: 12%;
        position: absolute;
      }
    }
  }
}