@import './styles/variables';
.detail-main-image-mobile-container{
width: 100%;
}
.detail-main-image-mobile{
  height: 260px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.scrolled{
  @extend .back-button;
  transition: all 1s;
  background-color: $background;
  height: 50px;
  border-bottom: $main-border;
}
.none{
  display: none;
}
.back-button {
  color: $color-text;
  font-family: $font;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  span{
    margin: 0 15px;
  }
  svg{
    position: absolute;
    top: 14px;
    left: 10px;
  }
}
.detail-image-top{
  width: 40px;
  border-radius: 22.5%;
  height: 40px;
  position: fixed;
  top: 5px;
  left: 43%;
  z-index: 10;
}
.get-button{
  z-index: 10;
  font-family: $font;
  right: 15px;
  display: block;
  position: fixed;
  transition: all1s;
  top: 12px;
  font-size: 14px;
  color: white;
  background-color: $color-text;
  border-radius: 20px;
  width: fit-content;
  padding: 2px 16px;
}