.preview{
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -1px;
  font-family: anardoni;
  color: white;
  direction: rtl;
  width: 90%;
  padding-bottom: 18.5px;
  padding: 10px 0;
  margin: 10px auto;
  .preview-title{
    margin-left: 95.5%;
  }
}
.about-container{
  margin: 10px 0 26px 0;
  .about{
    padding: 11px 0;
    border-bottom: 1px solid #444;
    font-weight: 200;
    display:flex;
    font-size: 17px;
    justify-content: space-between;
    flex-direction: row;
    .info-title{
      color: #6c757d;
      text-align: left;
    }
    .info-items{
      white-space: nowrap;
      text-align: right;
    }
  }
}