@import './styles/variables';
.whats-new-container{
  .preview-title{
    font-weight: bolder;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 15.5px;
    font-weight: 200;
  }
  .right-text{
    font-size: 13px;
    color: $card-subtitle;
  }
  .versions{
    width: 50%;
    text-align: left;
    .version{
      color: $card-subtitle;
      font-size: .8em;
    }
    .colored-text{
      white-space: nowrap;
      color: $color-text;
      cursor: pointer;
      margin-bottom: 18px;
      font-size: .8em;
    }
  }
  .new-items{
    width: 50%;
    text-align: right;
  }
  border-top: $main-border;
  font-family: anardoni;
  color: white;
  margin: 0px 15px 0 15px;
  padding:12px 0;
  display: flex;
  flex-direction: row-reverse;
}
.last-update-container{
  color: $card-subtitle;
  direction: rtl;
  font-size: 13px;
}
.about-items-container{
  font-family: $font;
  border-bottom: $main-border;
  margin: 0 15px;
  padding: 20px 0 9px 0 ;
  direction: rtl;
  color: white;
  .about-items{
    direction: rtl;
    text-align: right;
    margin-top: -5px;
    line-height: 24px;
    list-style-type: none;
    padding-bottom: 6px;
    font-size: 15px;
    display: block;
  }
}