@import "./styles/variables";
.card-without-container-mobile{
  display: flex;
  flex-direction: row-reverse;
  margin: 7.5px 0;
  .card-without-container-image-mobile{
    img{
      width: 45px;
      height: 45px;
      border-radius: 10%;
    }
  }
  .card-without-container-detail-mobile{
    position: relative;
    border-bottom: $main-border;
    width: 100%;
    text-align: right;
    direction: rtl;
    margin: 0 13px 0 0;
    h4{
      font-weight: 200;
      margin: 0;
      font-size: 13.6px;
      color: white;
    }
    p{
      width: 115px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-top: 4px;
      font-size: 13px;
      margin: 0;
      color: $card-subtitle ;
    }
    .get-button{
      left: 0;
      position: absolute;
      top: 10px;
      color: $card-get-button;
      background-color: #444;
      border-radius: 20px;
      width: 70px;
      padding: 2px 13px;
      text-align: center;
    }
  }
}