@supports (-webkit-touch-callout: none) {
    letter-spacing:  -1px !important;
}

html,
body {
    scroll-behavior: smooth;
    background-color: #222222;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:target {
    opacity: 1;
    border-bottom: 3px solid #375a7f;
}