$card-container-box-shadow :  0 10px 15px 2px #0b0b0b;
$card-subtitle : #6c757d;
$card-get-button : #509def;
$card-get-button-background : #444;
$card-background : #222;
$card-border : 1px solid #dee2e6;
$detail-caption :#0c5460;
$detail-caption-background : #d1ecf1;
$main-border : 1px solid #444;
$font : anardoni;
$color-text : #375a7f;
$card-info-colored : #007bff;
$background : #222222;
$navigation-item : #888;
$owl-hands : #472d20;
$input-border : #ced4da;
$submit : #375a7f;
$signUp : #0056b3;